In [123]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import the requests library.
import requests
# Import the API key.
from config1 import weather_api_key

In [148]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=5)
lngs = np.random.uniform(low=-180.000, high=180.000, size=5)
lat_lngs = zip(lats, lngs)
lat_lngs

In [94]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates1 = zip(x, y)

In [126]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates1:
    print(coordinate[0], coordinate[1])

In [96]:
coordinates1

In [149]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)
coordinates

[(-17.668000610425835, 174.28908330987662),
 (-81.19467464018608, 65.30756405585825),
 (-66.99183551813815, 49.638204295069386),
 (2.5173832612237845, -32.5546724081004),
 (14.70762272346802, -13.41142051604075)]

In [150]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [151]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

isangel vu
taolanaro mg
east london za
touros br
semme sn

In [152]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

5

In [153]:
import requests
requests.__version__

'2.27.1'

In [154]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [155]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1
print( url + "&q=" + cities[10])
cities

Beginning Data Retrieval
-----------------------------

IndexError: list index out of range

In [156]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
# Loop through all the cities in our list.
# for i in range(len(cities)):
for i in range(50):
    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]
    print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=isangel
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=taolanaro
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=east london
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=touros
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=semme

IndexError: list index out of range

In [157]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1

Processing Record 1 of Set 1 | isangel
Processing Record 2 of Set 1 | taolanaro
Processing Record 3 of Set 1 | east london
Processing Record 4 of Set 1 | touros
Processing Record 5 of Set 1 | semme

In [158]:
cities

['isangel', 'taolanaro', 'east london', 'touros', 'semme']

In [159]:

# Run an API request for each of the cities.
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)
    try:
        # Create endpoint URL with each city.
        city_url = url + "&q=" + city.replace(" ","+")

        # Log the URL, record, and set numbers and the city.
        print(f"Processing Record {record_count} of Set {set_count} | {city}")
        # Add 1 to the record count.
        record_count += 1
        # Parse the JSON and retrieve data.
        print(city_url)
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

Processing Record 6 of Set 1 | isangel
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=isangel
Processing Record 7 of Set 1 | taolanaro
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=taolanaro
City not found. Skipping...
Processing Record 8 of Set 1 | east london
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=east+london
Processing Record 9 of Set 1 | touros
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=touros
Processing Record 10 of Set 1 | semme
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=d3166461e354a81efaa2810f5e286a03&q=semme
-----------------------------
Data Retrieval Complete
-----------------------------

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Isangel,-19.5500,169.2667,85.08,75,57,7.72,VU,2022-04-02 02:24:12
1,East London,-33.0153,27.9116,64.96,93,100,7.31,ZA,2022-04-02 02:22:30
2,Touros,-5.1989,-35.4608,79.75,82,98,11.61,BR,2022-04-02 02:24:12
3,Semme,46.1963,1.5007,30.61,97,100,12.17,FR,2022-04-02 02:24:12

In [160]:
new_order = ['City','Country','Date','Lat','Lng','Max Temp','Humidity','Cloudiness','Wind Speed']
city_data_df=city_data_df[new_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Isangel,VU,2022-04-02 02:24:12,-19.5500,169.2667,85.08,75,57,7.72
1,East London,ZA,2022-04-02 02:22:30,-33.0153,27.9116,64.96,93,100,7.31
2,Touros,BR,2022-04-02 02:24:12,-5.1989,-35.4608,79.75,82,98,11.61
3,Semme,FR,2022-04-02 02:24:12,46.1963,1.5007,30.61,97,100,12.17

In [162]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")